@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --corTitulo: #000D1D;
}

html {
    margin: 0;
    padding: 0;
}

* {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body::-webkit-scrollbar-track {
    background-color: #000D1D;
}

body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-thumb {
    background-color: #01B5F2;
}

body {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
    background-color: #000D1D;
}

header {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--corTitulo);
    padding: 0px 50px;
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 3;
    transition: .2s ease;
}

header.sticky {
    background-color: #000D1D;
}

.logonavbar {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
}

.logonavbar img {
    width: 90px;


}

.logonavbar ul {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
}

.logonavbar ul li {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logonavbar ul a {
    text-align: center;
    color: white;
    text-decoration: none;
    font-size: 14px;
    width: max-content;  
    border-bottom: solid 0 transparent;
    transition: .2s ease;
}

ul a:hover {
    border-bottom: solid 1px #006ab1;
}

header .fakebutton {
    width: 127px;
    height: 28px;
    background-color: transparent;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    text-decoration: none;
}

header .fakebutton:hover {
    border-bottom: solid 1px #006ab1;
}

.buttonslogcad {
    width: 21%;
    display: flex;
}


.fakebutton {
    width: 176px;
    height: 38px;
    background-color: #40cef6;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
}

.fakebutton a {
    text-decoration: none;
    transition: .2s ease;
    color: #000000;
}

.fakebutton:hover {
    background-color: #7fdaf4;
    box-shadow: 0 0 5px #00c8ff;
}

.fakebutton:hover a {
    font-weight: 500;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 6rem;

}

.form {
    background-color: white;
    height: 600px;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    box-shadow: 1px 1px 10px rgb(27, 27, 27, 0.651);
    border-radius: 4px 0 0 4px;
}



.form h2{
    margin-bottom: 1rem;
}

.campos{
    display: flex;
    justify-content: center;
    align-items: center;
}

.campo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    padding: 1rem;
    width: 100%;
}

.campo_sel{
    border: none;
    padding: .4rem;
    border-radius: 8px;
    outline: 1px solid black;
    transition: .1s ease;
}

label {
    margin-bottom: .4rem;
    font-size: 14px;

}

input{
    border: none;
    padding: .4rem;
    border-radius: 8px;
    outline: 1px solid black;
    transition: .1s ease;
}

input:focus{
    outline: 1px solid #380E72;
}



button{
    width: 100%;
    background-color: #000D1D;
    color: white;
    margin-top: 1.7rem;
    border: none;
    padding: .4rem;
    border-radius: 8px;
    transition: .1s ease;
}

button:hover{
    background-color: #00c8ff;
    cursor: pointer;;
}

span{
    font-size: 10px;
}

span a{
    text-decoration: none;
    color: #2c0069;
}

span a:hover{
    color: #4000ca;
}