@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --corTitulo: #000D1D;
}

html {
    margin: 0;
    padding: 0;
}

* {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body::-webkit-scrollbar-track {
    background-color: #000D1D;
}

body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-thumb {
    background-color: #01B5F2;
}

body {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
}

header {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #000D1D;
    padding: 0px 50px;
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 3;
    transition: .2s ease;
}

header.sticky {
    background-color: #000D1D;
}

.logonavbar {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
}

.logonavbar img {
    width: 90px;


}

.logonavbar ul {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
}

.logonavbar ul li {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logonavbar ul a {
    text-align: center;
    color: white;
    text-decoration: none;
    font-size: 14px;
    width: max-content;  
    border-bottom: solid 0 transparent;
    transition: .2s ease;
}

ul a:hover {
    border-bottom: solid 1px #006ab1;
}

header .fakebutton {
    width: 127px;
    height: 28px;
    background-color: transparent;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    text-decoration: none;
}

header .fakebutton:hover {
    border-bottom: solid 1px #006ab1;
}

.buttonslogcad {
    width: 21%;
    display: flex;
}

.fakebutton {
    width: 176px;
    height: 38px;
    background-color: #40cef6;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
}

.fakebutton a {
    text-decoration: none;
    transition: .2s ease;
    color: #000000;
}

.fakebutton:hover {
    background-color: #7fdaf4;
    box-shadow: 0 0 5px #00c8ff;
}

.fakebutton:hover a {
    font-weight: 500;
}

.corpo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    top: 8rem;
    padding: 1rem 0;
    width: 70%;
    margin-bottom: 5rem;
}

.titulo {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    padding: 1rem 0;
    width: 100%;
}

.titulo h3 {
    color: var(--corTitulo);
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 1px;
    margin-bottom: 0.5rem;
}

.titulo h2 {
    color: var(--corTitulo);
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 1rem;
}


.titulo p {
    font-size: 1.2rem;
    line-height: 30px;
}

.feitos {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    width: 80%;
    padding: 2rem 0;
    margin: 6rem 0;

}

.caixa {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    width: 50%;
}

.caixinha {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: .5rem;
    padding: 1rem;
    width: 50%;
    background-color: #00c8ff;
}

.caixinha h2 {
    color: #243F5E;
    font-size: 1rem;
    font-weight: 390;
}


.caixinha h3 {
    color: var(--corTitulo);
    font-size: 2rem;
    font-weight: 600;
}

.c {
    background-color: #000D1D;
}

.c h2 {
    color: white;
}

.c h3 {
    color: white;
}

.foto {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.foto img {
    width: 70%;
}

.galeria{
    width: 100%;
    padding: 80px;
    background-color: #000D1D;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.galeria h2{
    color: white;
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 2rem;
}

.corpo-foto{
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.moldura{
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.ret{
    width: 250px;
}

.quad{
    width: 500px;
}

.caixa-img img{
    object-fit: cover;
    object-position: center;
    transition: .5s ease;
}

.caixa-img img:hover{
    transform: scale(1.1);

}

.caixa-img{
    width: 100%;
    height: 200px;
    background-color: seagreen;
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quadrado{
    height: 450px;
}


.footer {
    height: 250px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.952);
    padding: 70px 0px;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.footer-container {
    max-width: 1100px;
    margin: auto;
}

.footer ul {
    list-style: none;
}

.footer-col {
    width: 25%;
    padding: 0 15px;
}

.footer-col h4 {
    font-size: 18px;
    color: #00c8ff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #00c8ff;
    height: 2px;
    box-sizing: border-box;
    width: 85px;
}



.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    transition: all 0.3s eases;
    border: none;  
    line-height: 25px;
    padding: 0px;
    transition: .1s ease;
}

.footer-col ul li a:hover {
    color: #b5d1f3;
    padding-left: 6px;
}

.footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.966);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
}
.footer-col .social-links a:hover{
    transition: all 0.5s ease;
    background-color: #0052b6;
}
.footer-col .social-links a {
    color: #00c8ff;
    background-color: #000D1D;
}


.donw1 {
    height: 50px;
    width: 50px;
    background-color: whitesmoke;
    border-radius: 50%;
    position: absolute;
    margin-top: 38%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    box-shadow: 0px 0px 10px 5px #4f4f4f4c;

}

.donw1 ion-icon {
    height: 30px;
    width: 30px;
}