@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: #002a4b;
    font-family: 'Poppins';
}

.mae {
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    flex-direction: column;
}

.box1 {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    background-color: aqua;
}

.cbar {
    height: 520px;
    width: 2.8%;
    background-color: #000b1c;
    border-radius: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    position: fixed;
    left: 1.5rem;
    bottom: 1.7rem;
}

.list {
    width: 5vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1.5rem;
    gap: 2rem;
}

.list a {
    width: 100%;
    text-align: center;
}

.list a:hover {
    border-left: solid 3px white;
}

.cbar ion-icon {
    color: #00ccff;
    font-size: 20px;
    height: 30px;
    width: 30px;
    cursor: pointer;
}

.desenhoBar {
    padding: 10px;
}

.circulo {
    padding: 23.5px;
}

.exit {
    margin-top: 10rem;
    width: 5.2vw;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: end;
}

.exit a {
    width: 100%;
    text-align: center;
}

.exit a:hover {
    border-left: solid 3px white;
}

.competicaoInfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 8rem;
}

.endereco h1{
    font-size:  15px;
    color: white;
}

.logo img{
    width: 250px;
}

.corpoFiltro{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 69vw;
}

select{
    padding: 1rem;
    border: none;
    padding: .4rem;
    border-radius: 8px;
    outline: 1px solid #000D1D;
    transition: .1s ease;
    text-align: center;
    font-family: 'Poppins';
}
select:hover{
    cursor: pointer;
}


input{
    width: 7rem;
    border: none;
    padding: .3rem;
    border-radius: 8px;
    outline: 1px solid #000D1D;
    transition: .1s ease;
    text-align: center;
    font-family: 'Poppins';
}

input:focus{
    outline: 1px solid #00c8ff;
}

button{
    background-color:#000D1D;
    margin: 1rem 0;
    color: white;
    border: none;
    padding: .4rem;
    border-radius: 8px;
    transition: .1s ease;
    text-align: center;
    font-family: 'Poppins';
}


button:hover{
    background-color: #00c8ff;
    cursor: pointer;
}


table {
    width: 70vw;
}

table thead tr {
    background-color: #000b1c;
}

table tbody tr {
    background-color: #005da5;
    transform: scale(1);
    transition: .3s ease;
}

table tbody tr:hover{
    margin: .5rem 0;
    background-color: rgb(0, 132, 255);
    transform: scale(1.02);
}

table tr{
    color: white;
    padding: .5rem;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

table td{
    text-align: center;
    width: 10%;
}