*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #e6e6e6;
    overflow: hidden;
  
}

.mae{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    width: 100vw;
}

.box1{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    background-color: aqua;
}

.cbar{
    height: 550px;
    width: 5%;
    background-color: #000b1c;
    border-radius: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    position: fixed;
    left: 1.5rem;
    bottom: 2rem;
}

.list{
    width: 5vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    gap: 2rem;
}
.list a {
    width: 100%;
    text-align: center;
}

.list a:hover {
    border-left: solid 3px white;
}

.cbar ion-icon {
    color: #00ccff;
    font-size: 20px;
    height: 30px;
    width: 30px;
    cursor: pointer;
}

.desenhoBar{
    padding: 10px;
}
.circulo{
    padding: 23.5px;
}

.exit{
    margin-top: 9rem ;
    width: 5vw;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: end;
}

.exit a {
    width: 100%;
    text-align: center;
}

.exit a:hover {
    border-left: solid 3px white;
}

.corpoGrafico{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #002a4b;
    gap: 1.5rem;
}

.grafico{
    width: 42vw;
    background-color: #ccebff;
    border-radius: 30px;
}

canvas{
width: 100vw;
height: 60vh;
}